.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:rgb(86, 255, 86);
}


#hd3{
	display: inline-block;
	color: rgb(255, 0, 0);
	background-color: rgb(152, 250, 217);
	font-family:Verdana;
}

